<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipes</title>
    <th:block th:replace="/base :: MetaLinks">...</th:block>
    <th:block th:replace="/base :: BackgroundStyle">...</th:block>
</head>


<body>

<th:block th:replace="/base :: navbar">...</th:block>
<br/>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <img src="https://res.cloudinary.com/dv2nrlkn5/image/upload/c_scale,w_550/v1562609706/HobbyProject/16800-blue-ribbon-apple-pie-600x600_ps8gn9.jpg" class="card-img-top" alt="Apple Pie">
                <div class="card-body">
                    <h5 class="card-title">Apple Pie</h5>
                    <p class="card-text">All American Apple Pie.</p>
                    <a href="/ApplePieRecipe">Recipe</a>
                    <p class="card-text"><small class="text-muted"></small></p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img src="http://res.cloudinary.com/dv2nrlkn5/image/upload/v1562609706/BAKERY-STYLE-CHOCOLATE-CHIP-COOKIES-9-550x550_j4gyma.jpg" class="card-img-top" alt="Chocolate Chip Cookies">
                <div class="card-body">
                    <h5 class="card-title">Chocolate Chip Cookies</h5>
                    <p class="card-text">Just like Grandma use to make.</p>
                    <a href="/ChocolateChipCookieRecipe">Recipe</a>
                    <p class="card-text"><small class="text-muted"></small></p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img src="https://res.cloudinary.com/dv2nrlkn5/image/upload/c_fill,h_550,w_550/v1562609706/HobbyProject/Key-Lime-Pie-with-Graham-Cracker-Crust-6-Copy-1-660x440_m3kpde.jpg" class="card-img-top" alt="KeyLime Pie">
                <div class="card-body">
                    <h5 class="card-title">Key Lime Pie</h5>
                    <p class="card-text">With Extra Limey Lime Flavor!</p>
                    <a href="/KeyLimePieRecipe">Recipe</a>
                    <p class="card-text"><small class="text-muted"></small></p>
                </div>
            </div>
        </div>
    </div>

    <br/>

    <div class="row">
         <div class="col-sm-4">
            <div class="card">
                <img src="https://res.cloudinary.com/dv2nrlkn5/image/upload/v1562609706/HobbyProject/Best-Lasagna-550_fnunbt.jpg" class="card-img-top" alt="Lasagna">
                <div class="card-body">
                    <h5 class="card-title">Lasagna</h5>
                    <p class="card-text">Mamma Mia!</p>
                    <a href="/LasagnaRecipe" class="stretched-link">Recipe</a>
                    <p class="card-text"><small class="text-muted"></small></p>
                </div>
            </div>
         </div>
         <div class="col-sm-4">
            <div class="card">
                <img src="https://res.cloudinary.com/dv2nrlkn5/image/upload/c_scale,h_550,w_550/v1562609706/HobbyProject/14803357412_929a93260b_k_gxlqxh.jpg" class="card-img-top" alt="Lucky Charms">
                <div class="card-body">
                    <h5 class="card-title">Lucky Charms</h5>
                    <p class="card-text">In case you need a reminder....</p>
                    <a href="/LuckyCharmsRecipe">Recipe</a>
                    <p class="card-text"><small class="text-muted"></small></p>
                </div>
            </div>
        </div>
    </div>
</div>



<th:block th:replace="/base :: bootstrap">...</th:block>
</body>

</html>