<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <th:block th:replace="/base :: MetaLinks">...</th:block>
<style>
    body, html {
    height: 100%;
    background-image: url("https://res.cloudinary.com/dv2nrlkn5/image/upload/v1562686713/120402_iol9r8.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}</style>
</head>
<body>
<th:block th:replace="/base :: navbar">...</th:block>

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Welome To Recipes Extravaganza!</h1>
        <p class="lead"></p>
        <hr class="my-4">
        <p>We have Recipes and stuff....</p>

    </div>
</div>

<th:block th:replace="/base :: bootstrap">...</th:block>
</body>
</html>